- content_for :header_left do
  New
- content_for :header_right do
  = link_to_back 'Back', admin_resource_path

.formtastic
  %ol
    - resource_admin_config.attributes_show.each do |attr|
      %li
        %label
          = "#{attr.to_s.titlecase}:"
        - value = @resource.send(attr)
        - value = display_referenced_resource(value) if value.is_a?(ActiveRecord::Base)
        = value

.clear