- content_for :header_left do
  = controller_name
- content_for :header_right do
  #action_bar
    = link_to_back

- if Rails.env.development?
  please override in '/app/views/adminsite/admin/#{controller_name}/show.html.haml'

//.formtastic
//  %table
//    - attributes_show.each do |attr|
//      %tr
//        %th
//          = "#{attr.to_s.titlecase}:"
//        = display_resource_value(@resource, attr)

