#content_menu.menu
  %ul
    = menu_item 'Profiles', admin_profiles_path, 'profiles'
    = menu_item 'Pages',          admin_adminsite_pages_path,           'pages'
    = menu_item 'File assets',    admin_adminsite_file_assets_path,     'file_assets'
.clearfix
