#admin_menu.menu
  %ul
    = menu_item 'Dashboard', admin_dashboard_index_path , ['dashboard']
    = yield :admin_menu
  %ul
    = menu_item 'Log out', destroy_adminsite_admin_user_session_path, ['admin_user_sessions'], 'log_out', :delete
.clearfix
