$position : left ;
$primary-color: #efefef;
$secondary-color: #BBB;
.pagination {
  text-align: $position ;
  color: #666;
  margin:0 0 1em;
  font-size: smaller;
  a {
    border-radius: 2px;
    padding: 0.5em 0.7em;
    background-color: $primary-color;
    border-color: #aaa;
    border-style: solid;
    border-top: 2px solid $secondary-color ;
    border: 1px solid $secondary-color ;
    text-decoration: none;
    &:hover, &:focus {
      background-image: -webkit-linear-gradient(to top, #cfcfcf, #cfcfcf);
      background-image: linear-gradient(to top, #cfcfcf, #cfcfcf);
    }
    &.more {
      box-shadow: 0 0 0 0 transparent;
      background: transparent;
    }
  }
  .current {
    padding: 0.5em 0.7em;
  }
}