- content_for :header_left do
  = @iframe_name

%a{:href => @iframe_url, :style => "float: right;", :target => "_blank"} Open in new window (fullscreen)
%iframe{:height => '600px', :src => @iframe_url, :width => '100%'}
:javascript
  $('iframe').load(function(){
  var iframeHeight = $('iframe').contents().find('body').height();
  $('iframe').css({height:iframeHeight});
  });



