#tabsB
  %ul
    =menu_item('Administrators', admin_admins_path)
    =menu_item('Page Layouts', admin_page_layouts_path)
    =menu_item('Pages', admin_pages_path)
    =menu_item('File Assets', admin_file_assets_path)
    =menu_item('Log out', logout_path)
